body {
    font-family: Arial;
    background-color:#f4f4f4;
    text-align: center;
}
 
header{
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    padding: 50px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

button { 
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
}

button:hover {
    background-color: gray;
}
